.env
node_modules
package-lock.json
users.json
node_modules/
npm-debug.log*
yarn-error.log*

*.log
logs/

.env.local
*.key
*.pem

dist/
build/

.vscode/
.idea/
.iml

Thumbs.db
Desktop.ini
$RECYCLE.BIN/
